  
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project 3</title>
    <link rel="stylesheet" href="static/css/style.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="hero-image">
        <div class="hero-text">
          
          <div class="row"> 
                    </div>
          <h1>Heart Disease Prediction Demonstration Model</h1>
              
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Models
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="model1">KNN</a>
            <a class="dropdown-item" href="model2">LR</a>
          </div>
        </div>
     
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
            <a class="nav-item nav-link" href=""></a>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
                Data
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="data">Data</a>
                <a class="dropdown-item" href="gender">Gender Analysis</a>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                </div>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="team" >The team</a>
            </li>
        </ul>
        </div>
      </nav>

</head>
<body>  

 <footer class="container-fluid text-left">
  <p>
    Heart disease is the leading cause of death worldwide.  Definitive diagnosis of heart disease is challenging due to its many and complexly interrelated manifestation of symptoms, manifestations, and risk factors.  
  </p>
  <p>
    In this demonstration project, we used machine learning algorithms to develop a heart disease prediction tool to allow users to predict the presence of heart disease based on their individual risk factors, symptoms, test, and examination results.
  </p>
  <p>
    Enter values in the form below to see if these models predict the presence of heart disease:
  </p>
</footer>
<div class="container">
    <div class="row">

    </div>
    
  </div>   
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Age</label>
      <input type="email" class="form-control" id="age" placeholder="25">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Sex</label>
      <select class="form-control" id="sex">
        <option>1: Male</option>
        <option>0: Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Resting Heartrate (mm hg)</label>
      <input type="email" class="form-control" id="trestbp" placeholder="55">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Cholesterol</label>
      <input type="email" class="form-control" id="chol" placeholder="120">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">fasting blood sugar > 120 mg/dl</label>
      <select class="form-control" id="fbs">
        <option>1: True</option>
        <option>0: False</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Resting electrocardiographic results</label>
      <select class="form-control" id="restecg">
        <option>0: normal</option>
        <option>1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)</option>
        <option>2: showing probable or definite left ventricular hypertrophy by Estes' criteria </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Maximun Heartrate Achieved</label>
      <input type="email" class="form-control" id="thalach" placeholder="125">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Exercise induced angina (1 = yes; 0 = no) </label>
      <select class="form-control" id="exang">
        <option>0:no</option>
        <option>1:yes</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">ST depression induced by exercise relative to rest </label>
      <input type="email" class="form-control" id="oldpeak" placeholder="125">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Slope: the slope of the peak exercise ST segment</label>
      <select class="form-control" id="restecg">
        <option>1: upsloping</option>
        <option>2: flat</option>
        <option>3: downsloping </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Number of major vessels (0-3) colored by flourosopy</label>
      <select class="form-control" id="exang">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Thal</label>
      <select class="form-control" id="thal">
        <option>3: normal</option>
        <option>6: fixed defect</option>
        <option>7: reversable defect </option>
      </select>
    </div>
    <div class="form-group">
      <button id="button" type="button" class="btn btn-default">Enter</button>
    </div>
  </form>
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/logic.js"></script>
</body>

</html>

