  
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project 3</title>
    <link rel="stylesheet" href="static/css/style.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="hero-image">
        <div class="hero-text">
          <h1>Heart Disease Prediction Demonstration Model</h1>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Models
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="model1">KNN</a>
            <a class="dropdown-item" href="model2">LR</a>
            <a class="dropdown-item" href=""></a>
            <a class="dropdown-item" href=""></a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              
            <!-- <a class="nav-item nav-link active" href="index.html">Maps<span class="sr-only">(current)</span></a> -->
            <a class="nav-item nav-link" href=""></a>
            <a class="nav-item nav-link" href=""></a>            
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
                Data
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="data">Data</a>
                <a class="dropdown-item" href="gender">Gender Analysis</a>
                <a class="dropdown-item" href=""></a>
                <a class="dropdown-item" href=""></a>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                </div>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="team" >The team</a>
            </li>
        </ul>
        </div>
      </nav>

</head>
<body>  

 <footer class="container-fluid text-left">
  <h5 class="myheader">LR Model</h5>
  <p> The Logistic Regression model is a supervised machine learning model for making binary predictions.
    LR models predict the probability of the default classification of a dichotomous variable, in this case the presence of heart diseas.
    The LR model is well suited to heart disease (HD) application because it can accomodate non-linear input parameters.
  </p>
</footer>
<div class="container">
    <div class="row">

    </div>
    <div class="row"> 
        <div class="col-lg-6 col-lg-6"><img src="../static/images/lr_cm.png"></div> 
        <p>Confusion Matrix: This confusion matrix shows sensitivity and specificity of classification among our 205 patients in the test data sample.
        </p>
        <p>The Logistic Regression model correctly classified 78 true positive cases of HD, and 98 negative cases.  
          However, the model incorrectly classified 10 patients with HD as healthy, and 19 healthy patients with HD.  </p> 
          
      </div>
    <div class="row">     
        <div class="col-lg-6 col-lg-6"><img src="../temp/lr_discthresh.png"></div> 
        <p>Discrimination Threshold: This figure shows the probability (score) at which the positive class is chose over the negative class for binary (yes/no heart disease) classification.
        </p>
        <ul>
          <li>Precision: An increase in precision is a reduction in the number of false positives</li>
          <li>Recall: An increase in recall decrease the likelihood that the positive class is missed</li>
          <li>F1 Score: The F1 score is the harmonic mean between precision and recall</li>
          <li>Queue Rate: The “queue” refers to positive predicted cases</li>

        </ul>
      </div>
  </div>   
  <br>
  <div class="container">
    <div class="row">

    </div>
    <div class="row"> 
        <div class="col-lg-1 col-lg-12"><img src="../static/images/lr_ROCAUC.png"></div>  
        <p> ROC Curve: Receiver Operating Characteristic (or Area Under the Curve) visualizes the tradeoff between the sensitivity (true positive Y-axis) and specificity (false positive X-axis)</p> 
        <p>Optimal model specification is at the top-left, indicating 100% predictive power. 
          Therefore a larger area under the curve generally indicates better model predictive performance.
        </p>
      </div>
      <p> </p>
      <p> </p>
    <div class="row"> 
        <div class="col-lg-1 col-lg-12"><img src="../static/images/lr_classpredict.png"></div> 
        <p>Class Prediction Error: Similar to the confusion matrix, this figure shows the proportion of true and false positive or negative classificaitons.</p>

      </div>

<!-- <img src="static/images/featurecorrelation.png"> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>